@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: local('Inter UI'), url('./Inter-UI-Regular.otf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Inter UI'), url('./Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Inter UI'), url('./Roboto-Medium.ttf');
}
