@import 'src/services/constants';

.main {
  height: 80px;
  background-color: $elementsBackground;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
}

.mainLink {
  text-decoration: none;
}

.title {
  font-family:
    Inter UI,
    sans-serif;
  color: $heading-color;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.regLinks {
  display: flex;
  align-items: center;
  gap: 28px;
}

.bigButton {
  padding: 8px 18px;
}

.smallButton {
  font-size: 14px;
  line-height: 22px;
  padding: 4px 10px;
}

.greenBorder {
  border: 1px solid $success-color;
  border-radius: 5px;
  color: $success-color;
}

.blackBorder {
  border: 1px solid $text-color;
  border-radius: 5px;
  color: $text-color;
  cursor: pointer;
}

.name {
  font-size: 18px;
  line-height: 28px;
  color: $heading-color;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: 7px;
  margin-left: 13px;
}

.user {
  text-decoration: none;
  display: flex;
  align-items: center;
}
