@import 'src/services/constants';

.container {
  padding: 48px 32px;
  border-radius: 5px;
  background-color: $elementsBackground;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family:
    Inter UI,
    sans-serif;
}

.header {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: $form-black;
  margin-bottom: 21px;
}

.form {
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
}

.listElem {
  display: flex;
  flex-direction: column;
}

.textLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
}

.textInput {
  width: calc(100% - 24px);
  font-size: 16px;
  line-height: 24px;
  color: $form-black;
  border: 1px solid $gray-border;
  padding: 8px 12px;
  margin-bottom: 21px;
  border-radius: 4px;
  cursor: pointer;

  &::placeholder {
    color: $placeholder;
  }
}

.textArea {
  height: 168px;
}

.errorTextInput {
  border: 1px solid $error-color;
}

.inputError {
  color: $error-color;
  margin-top: -10px;
  margin-bottom: 0;
}

.submit {
  width: 286px;
  padding: 8px 16px;
  border-radius: 4px;
  background: $info-color;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $elementsBackground;
  margin-top: 21px;
  cursor: pointer;
}

.tagBlock {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 18px;
}

.tagList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tagElem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.tagInput {
  margin-bottom: 0;
  width: 276px;
}

.tagButton {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid;
  padding: 8px 39px;
  border-radius: 4px;
  cursor: pointer;
}

.del {
  border-color: $error-color;
  color: $error-color;
}

.add {
  border-color: $info-color;
  color: $info-color;
}
